{% extends '::layout.html.twig' %}

{% block body -%}

    <div class="container">
        <h2>My investment portfolio</h2>

        <div class="col-sm-3">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Qty.</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.symbol }}</td>
                        <td>{{ entity.quantity }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="">
                                <a href="{{ path('portfolio_edit', { 'id': entity.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                <a href="{{ path('portfolio_new') }}" class="btn btn-primary btn-sm">Add symbol</a>
            </p>
        </div>
        <div class="col-sm-9">
            <div class="highcharts-container"><div class="loading">Loading chart...</div></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Highcharts -->
    <script src="{{ asset('assets/vendor/highcharts/highcharts.js') }}"></script>
    <script>
        $(function () {
            $.getJSON('{{ path('trendline') }}', function (data) {

                var series = [];

                $.each(data, function() {
                    var val = parseInt(this[1]);
                    if(val > 0) {
                        series.push([Date.parse(this[0]), parseInt(this[1])])
                    }
                });

                $('.highcharts-container').highcharts({
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Portfolio over time'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Portfolio cost, U.S. Dollars'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [{
                        type: 'area',
                        name: 'Cost',
                        data: series
                    }]
                });
            });
        });
    </script>
{% endblock %}